__pycache__/exo4.cpython-312.pyc
__pycache__/exo3.cpython-312.pyc
__pycache__/exo2.cpython-312.pyc
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/2025H-TP1/v17/DocumentLayout.json
.vs/2025H-TP1/v17/.wsuo
.vs/2025H-TP1/FileContentIndex/f0b31de6-064a-4c85-83fa-15e2f9140072.vsidx
__pycache__/exo4.cpython-312.pyc
__pycache__/test.cpython-312.pyc
__pycache__/exo4.cpython-312.pyc
